In [1]:
# import dependencies 
import pandas as pd

In [16]:
# Bring in all the new csv files to be converted to pd dataframes
alcohol = pd.read_csv('data/total-alcohol-consumption-per-capita-litres-of-pure-alcohol.csv')
doctors = pd.read_csv('data/doctors.csv')
health_spending = pd.read_csv('data/health_spending.csv')
debt = pd.read_csv('data/debt.csv')
# social_support = pd.read_csv('data/lack_of_social_support.csv')
# obese = pd.read_csv('data/obese_rate.csv')
# years_lost = pd.read_csv('data/potential_years_life_lost.csv')

In [17]:
debt.head()

,"Private debt, loans and debt securities (Percent of GDP)",2015,2016
0,Afghanistan,3.7024633,3.3737603
1,Albania,44.539943,43.179743
2,Algeria,21.264263,22.405195
3,Argentina,18.701945,18.055842
4,Australia,199.47145,200.97648

In [18]:
# Drop all the unneededs columns from all the dataframes
# alcohol = alcohol.drop(columns={'SUBJECT','MEASURE','FREQUENCY','Flag Codes','INDICATOR','TIME'})
doctors = doctors.drop(columns={'Indicator Name'})
health_spending = health_spending.drop(columns={'Indicator Name'})
# # social_support = social_support.drop(columns={'SUBJECT','MEASURE','FREQUENCY','Flag Codes','INDICATOR','TIME'})
# obese = obese.drop(columns={'SUBJECT','MEASURE','FREQUENCY','Flag Codes','INDICATOR','TIME'})
# years_lost = years_lost.drop(columns={'SUBJECT','MEASURE','FREQUENCY','Flag Codes','INDICATOR','TIME'})
# Rename the value column
alcohol = alcohol.rename(columns={'Entity':'country','Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)':'alcohol_consumption_percapita'})
doctors = doctors.rename(columns={'Country Name':'country','2015':'physicians_per_1k_2015','2016':'physicians_per_1k_2016','2017':'physicians_per_1k_2017'})
health_spending = health_spending.rename(columns={'Country Name':'country','2015':'health_spending_percapita_2015','2016':'health_spending_percapita_2016','2017':'health_spending_percapita_2017','2018':'health_spending_percapita_2018'})
debt = debt.rename(columns={'Private debt, loans and debt securities (Percent of GDP)':'country','2015':'private_debt_2015','2016':'private_debt_2016'})
# social_support = social_support.rename(columns={'Value':'social_support'})
# obese = obese.rename(columns={'Value':'obese'})
# years_lost = years_lost.rename(columns={'Value':'years_lost'})

In [19]:
# social_support[social_support['LOCATION']=='CAN']
print(alcohol.dropna().shape)
print(doctors.dropna().shape)
print(health_spending.dropna().shape)
print(debt.dropna().shape)

(187, 3)
(62, 4)
(231, 5)
(159, 3)

In [20]:
country_df = pd.read_csv('data/country_data.csv')
new_df = country_df.merge(health_spending, on='country',how='left')
new_df.shape

(126, 46)

In [21]:
dropped_df = country_df.dropna()
new_df

,country,sex,sui_per_100k_2016,sui_per_100k_2015,sui_per_100k_2010,sui_per_100k_2000,region,happiness_rank_2015,happiness_score_2015,standard_error,...,life_expectancy_at_birth,expected_years_of_education,mean_years_of_education,gross_national_income_gni_per_capita,gni_per_capita_rank_minus_hdi_rank,gdp_percapita_2015,health_spending_percapita_2015,health_spending_percapita_2016,health_spending_percapita_2017,health_spending_percapita_2018
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.58,0.03,...,60.4,9.3,3.2,"1,885",-7.0,578.47,58.906528,60.188671,65.706024,49.842609
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.96,0.05,...,77.8,11.8,9.3,"9,943",14.0,3952.83,192.885132,202.013321,226.280670,274.914093
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.60,0.05,...,74.8,14.0,7.6,"13,054",-1.0,4177.89,291.553558,260.772553,258.039551,255.869430
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.03,0.05,...,52.3,11.4,4.7,"6,822",-30.0,4166.98,108.582939,95.124977,114.334602,87.616768
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.57,0.05,...,76.3,17.9,9.8,"22,050",11.0,13789.06,1531.484253,1153.534058,1529.616211,1127.907227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,United States of America,Both sexes,13.7,13.3,11.8,10.1,North America,15,7.12,0.04,...,79.1,16.5,12.9,"52,947",3.0,56803.47,NaN,NaN,NaN,NaN
122,Uruguay,Both sexes,16.5,17.4,14.9,15.9,Latin America and Caribbean,32,6.48,0.05,...,77.2,15.5,8.5,"19,283",7.0,15613.76,1406.522339,1450.144897,1648.874634,1590.048218
123,Uzbekistan,Both sexes,7.4,7.4,6.0,9.1,Central and Eastern Europe,44,6.00,0.04,...,68.4,11.5,10.9,"5,567",10.0,2615.03,131.833023,129.172775,93.004173,82.269264
124,Zambia,Both sexes,11.3,11.2,11.5,14.1,Sub-Saharan Africa,85,5.13,0.07,...,60.1,13.5,6.6,"3,734",2.0,1332.19,59.337643,57.362690,67.507996,75.991791
125,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,Sub-Saharan Africa,115,4.61,0.04,...,57.5,10.9,7.3,"1,615",13.0,1445.07,107.687004,113.408859,112.741936,140.320312

In [24]:
# combine the data frames on time and country
combined_df = alcohol.merge(doctors,  how='left', on='country')
combined_df = combined_df.merge(health_spending,  how='left', on='country')
combined_df = combined_df.merge(debt,  how='left', on='country')
# combined_df = combined_df.merge(obese,  how='inner', on='country')
# combined_df = combined_df.merge(years_lost,  how='inner', on='country')
combined_df[combined_df['country']=='Canada']

,country,Code,alcohol_consumption_percapita,physicians_per_1k_2015,physicians_per_1k_2016,physicians_per_1k_2017,health_spending_percapita_2015,health_spending_percapita_2016,health_spending_percapita_2017,health_spending_percapita_2018,private_debt_2015,private_debt_2016
31,Canada,CAN,8.9,2.5388,2.3105,2.6102,4615.64209,4610.92627,4845.589844,4994.902344,207.18534,211.1105

In [25]:
# change the columns to lowercase for better querrying 
combined_df = combined_df.rename(columns=str.lower)
combined_df

,country,code,alcohol_consumption_percapita,physicians_per_1k_2015,physicians_per_1k_2016,physicians_per_1k_2017,health_spending_percapita_2015,health_spending_percapita_2016,health_spending_percapita_2017,health_spending_percapita_2018,private_debt_2015,private_debt_2016
0,Afghanistan,AFG,0.200000,0.2850,0.2782,NaN,58.906528,60.188671,65.706024,49.842609,3.7024633,3.3737603
1,Albania,ALB,7.500000,NaN,1.2164,NaN,192.885132,202.013321,226.280670,274.914093,44.539943,43.179743
2,Algeria,DZA,0.900000,NaN,1.8325,1.787900,291.553558,260.772553,258.039551,255.869430,21.264263,22.405195
3,Andorra,AND,11.300000,3.3333,NaN,NaN,2246.254395,2361.217529,2567.423828,2821.801270,NaN,NaN
4,Angola,AGO,6.400000,NaN,NaN,0.214600,108.582939,95.124977,114.334602,87.616768,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
228,Vietnam,VNM,8.300000,0.7963,0.8281,NaN,117.862892,124.059410,140.165329,151.686112,90.399227,98.858961
229,World,OWID_WRL,6.376976,NaN,NaN,1.565639,998.981579,1020.713332,1064.740628,1110.840893,NaN,NaN
230,Yemen,YEM,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no data,no data
231,Zambia,ZMB,4.800000,NaN,0.1628,NaN,59.337643,57.362690,67.507996,75.991791,15.628654,12.005457
232,Zimbabwe,ZWE,4.800000,0.1815,0.1788,0.185900,107.687004,113.408859,112.741936,140.320312,18.315686,17.098562

In [26]:
droped_df = combined_df.dropna()
droped_df.shape

(54, 12)

In [27]:
# add in the completed dataframe from project 2 to add the new data to
full_df = pd.read_csv('data/country_data.csv')
full_df = full_df.merge(combined_df, how='right', on='country')

In [28]:
full_df.columns

Index(['country', 'sex', 'sui_per_100k_2016', 'sui_per_100k_2015',
       'sui_per_100k_2010', 'sui_per_100k_2000', 'region',
       'happiness_rank_2015', 'happiness_score_2015', 'standard_error',
       'economy_gdp_per_capita_2015', 'family_2015',
       'health_life_expectancy_2015', 'freedom_2015',
       'trust_government_corruption_2015', 'generosity_2015',
       'dystopia_residual_2015', 'happiness_rank_2016', 'happiness_score_2016',
       'economy_gdp_per_capita_2016', 'family_2016',
       'health_life_expectancy_2016', 'freedom_2016',
       'trust_government_corruption_2016', 'generosity_2016',
       'dystopia_residual_2016', 'total_population', 'total_suicides_2016',
       'total_suicides_2015', 'economy_gdp_2016', 'economy_gdp_2015',
       'country_code', 'latitude', 'longitude', 'hdi_rank',
       'human_development_index', 'life_expectancy_at_birth',
       'expected_years_of_education', 'mean_years_of_education',
       'gross_national_income_gni_per_capita',
       'gni_per_capita_rank_minus_hdi_rank', 'gdp_percapita_2015', 'code',
       'alcohol_consumption_percapita', 'physicians_per_1k_2015',
       'physicians_per_1k_2016', 'physicians_per_1k_2017',
       'health_spending_percapita_2015', 'health_spending_percapita_2016',
       'health_spending_percapita_2017', 'health_spending_percapita_2018',
       'private_debt_2015', 'private_debt_2016'],
      dtype='object')

In [30]:
# determine which columns to keep and which to drop
clean_df = full_df.drop(columns={'sex','standard_error','economy_gdp_per_capita_2015', 'family_2015',\
                                 'health_life_expectancy_2015', 'freedom_2015','trust_government_corruption_2015',\
                                 'generosity_2015','economy_gdp_per_capita_2016', 'family_2016','health_life_expectancy_2016',\
                                 'freedom_2016','trust_government_corruption_2016', 'generosity_2016','dystopia_residual_2016',\
                                'economy_gdp_2016', 'economy_gdp_2015','life_expectancy_at_birth','expected_years_of_education',\
                                 'mean_years_of_education','gross_national_income_gni_per_capita',\
                                 'gni_per_capita_rank_minus_hdi_rank','physicians_per_1k_2016',\
                                 'physicians_per_1k_2017','health_spending_percapita_2016','health_spending_percapita_2017',\
                                 'health_spending_percapita_2018','sui_per_100k_2016','sui_per_100k_2010', 'sui_per_100k_2000',\
                                'dystopia_residual_2015','happiness_rank_2016', 'happiness_score_2016','total_suicides_2016',
                                'total_population', 'total_suicides_2015', 'code'})
clean_df.columns

Index(['country', 'sui_per_100k_2015', 'region', 'happiness_rank_2015',
       'happiness_score_2015', 'country_code', 'latitude', 'longitude',
       'hdi_rank', 'human_development_index', 'gdp_percapita_2015',
       'alcohol_consumption_percapita', 'physicians_per_1k_2015',
       'health_spending_percapita_2015', 'private_debt_2015',
       'private_debt_2016'],
      dtype='object')

In [40]:
new_country_data = clean_df.drop(columns={'physicians_per_1k_2015', 'private_debt_2016'})
new_country_data

,country,sui_per_100k_2015,region,happiness_rank_2015,happiness_score_2015,country_code,latitude,longitude,hdi_rank,human_development_index,gdp_percapita_2015,alcohol_consumption_percapita,health_spending_percapita_2015,private_debt_2015
0,Afghanistan,6.6,Southern Asia,153.0,3.58,AF,33.94,67.71,171.0,0.46,578.47,0.200000,58.906528,3.7024633
1,Albania,5.3,Central and Eastern Europe,95.0,4.96,AL,41.15,20.17,85.0,0.73,3952.83,7.500000,192.885132,44.539943
2,Algeria,3.4,Middle East and Northern Africa,68.0,5.60,DZ,28.03,1.66,83.0,0.74,4177.89,0.900000,291.553558,21.264263
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.300000,2246.254395,NaN
4,Angola,9.3,Sub-Saharan Africa,137.0,4.03,AO,-11.20,17.87,149.0,0.53,4166.98,6.400000,108.582939,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.300000,117.862892,90.399227
229,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.376976,998.981579,NaN
230,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.100000,NaN,no data
231,Zambia,11.2,Sub-Saharan Africa,85.0,5.13,ZM,-13.13,27.85,139.0,0.59,1332.19,4.800000,59.337643,15.628654
232,Zimbabwe,18.9,Sub-Saharan Africa,115.0,4.61,ZW,-19.02,29.15,155.0,0.51,1445.07,4.800000,107.687004,18.315686

In [41]:
new_country_data = new_country_data.dropna()
new_country_data = new_country_data.reset_index()
new_country_data = new_country_data.drop(columns={'index'})
new_country_data.shape

(111, 14)

In [63]:
# change the deby datatypes to numeric to add to region dataframe
new_country_data['private_debt_2015'] = pd.to_numeric(new_country_data['private_debt_2015'],errors='coerce')
new_country_data.dtypes

country                            object
sui_per_100k_2015                 float64
region                             object
happiness_rank_2015               float64
happiness_score_2015              float64
country_code                       object
latitude                          float64
longitude                         float64
hdi_rank                          float64
human_development_index           float64
gdp_percapita_2015                float64
alcohol_consumption_percapita     float64
health_spending_percapita_2015    float64
private_debt_2015                 float64
dtype: object

In [65]:
# create region dataset for webpage
new_region_data = new_country_data.groupby('region').mean()
new_region_data
new_region_data = new_region_data.round(2)
new_region_data = new_region_data.reset_index()
new_region_data = new_region_data.drop(columns={'latitude','longitude','hdi_rank','happiness_rank_2015'})

In [66]:
# export the dataframes to csvs
new_region_data.to_csv(f'data/new_region_data.csv', index=False)
new_country_data.to_csv(f'data/new_country_data.csv', index=False)

In [73]:
new_country_data['health_spending_percapita_2015'].describe()

count     111.000000
mean     1227.865192
std      1822.679106
min        19.456837
25%        77.508049
50%       379.900482
75%      1429.298401
max      9382.791016
Name: health_spending_percapita_2015, dtype: float64